/* home.css */

.teletext-header {
  background-color: var(--lcfc-blue);
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid var(--teletext-yellow);
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.header-two {
  font-size: 1.5rem;
}

.teletext-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.teletext-section {
  padding: 15px;
  border: 2px solid var(--lcfc-blue);
}

.section-title {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.cyan {
  color: var(--teletext-cyan);
}

.results-list,
.fixtures-list,
.news-list {
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}

.results-item,
.fixtures-item,
.news-item {
  padding: 5px 0;
  font-size: 24px;
}

.teletext-footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid var(--teletext-white);
}

.fixtures-item.text-blue {
  color: var(--teletext-blue);
}

.fixtures-item.text-red {
  color: var(--teletext-red);
}

.fixtures-item.text-yellow {
  color: var(--teletext-yellow);
}

.standings-table th {
  padding: 12px 16px;
  text-align: center;
  background-color: var(--lcfc-blue);
}

.standings-table td {
  padding: 10px;
  text-align: center;
}
.leicester-team {
  font-size: 20px;
  color: var(--teletext-yellow);
  font-weight: bold;
}

.scorers-table {
  width: 100%;
  border-collapse: collapse; /* No borders between cells */
  text-align: center;
}

.scorers-table .ths {
  font-size: 24px;
  color: var(--teletext-yellow); /* Yellow text for headers */
  border: none; /* Remove borders */
}

.scorers-table td {
  border: none; /* No borders */
}

.scorers-table td:first-child {
  text-align: left; /* Align player names to the left */
}

.scorers-table th:nth-child(2) {
  text-align: center; /* Center the "P" and "G" */
}
.scorers-table th:nth-child(3) {
  text-align: center; /* Center the "P" and "G" */
}

.section-LCFC-title {
  text-align: left;
  font-size: 24px;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
  .teletext-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
  }
}
@media (min-width: 321px) and (max-width: 481px) {
  /*smaller tablets */
  .teletext-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0.4rem;
  }
  .standings-table {
    width: 100%;
    display: block; /* Make the table scrollable */
    overflow-x: auto; /* Add horizontal scrolling for small screens */
    font-size: 0.7rem; /* Reduce font size */
  }

  .standings-table th,
  .standings-table td {
    padding: 0.3rem 0.4rem; /* Reduce padding further for small screens */
  }

  /* Adjust table header and body to fit small screens */
  .standings-table th,
  .standings-table td {
    white-space: nowrap; /* Prevent wrapping */
  }
}
@media (min-width: 482px) and (max-width: 641px) {
  /*portrait iPad */
  .teletext-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
  }
}
@media (min-width: 642px) and (max-width: 961px) {
  /*landscape iPad */
}

@media (min-width: 962px) and (max-width: 1025px) {
  /*laptops */
}
@media (min-width: 1026px) {
  /* desktops */
}
